body{
    width: 80%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
}
h1{
    background-color: rgb(39, 90, 210);
    text-align: center;
    padding: 5px;
    /*margin: 5%;*/
    font-size: 46px;
    color:#000000;
}

h2{
    background-color: rgb(39, 90, 210);
    padding: 10px;
    /*margin: 5%;*/
    font-size: 30px;
    color: rgb(0, 0, 0);
    border-bottom: solid 3px rgb(0, 0, 0);
}

h3{
    padding-left: 0;
}

p{
    padding-left: 0;
}

UL{
    padding-left: 0;
}
li{
    padding-left: 0;
    list-style-position: inside;
}